# Python
__pycache__/
*.py[cod]
*.pyo
venv/
*/.venv/
.venv/
*/venv/
*.egg-info/

# Env
.env
*/.env

# Alembic
alembic/versions/*.py

# IDE
.idea/
.vscode/
*/.vscode/

# OS
.DS_Store

# test_data
*/data
/data

# 생성 파일
*.pt
*_2[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]_*.json
output.json

# claude code
*/CLAUDE.md
CLAUDE.md
.claude
*/claude